<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translate chain</title>
    <!-- todo make this uglier -->
    <style>
      body {background-color: rgb(255, 217, 0);}
      h1 {color: red; font-weight: 900; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
      h2 {color: green;}
      p {color: red; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
      label {background-color: rgb(255, 217, 0); color: white;}
      li {font-family: fantasy;}
    </style>
  </head>
  <body>
    <h1>Tired of accurate translations and well-designed UIs? Then this app is just what you need!</h1>
    <script>
      const kinds = ['Start', 'End', 'Added'];
      var startLang = "<%- startLang %>";
      var endLang = "<%- endLang %>";
      var middleLangs = <%- middleLangs %>;
      var inputText = "<%- inputText %>";
      var outputText = "<%- outputText %>";
      var allButAuto = <%- allButAuto %>;

      function addInput(form, name, value) {
        const input = document.createElement('input');
        input.setAttribute('name', name);
        input.setAttribute('value', value);
        input.setAttribute('type', 'hidden');
        form.appendChild(input);
      }
      function validateLang(lang, kind, allowAuto) {
        if (lang === 'Automatic') {
          if (!allowAuto) {
            alert(`${kind} language cannot be Automatic`);
            return false
          } else {
            return true
          }
        }
        var found = false

        for (const validLang of allButAuto) {
          if (lang === validLang) found = true;
        }

        if (!found) {
          alert(`${kind} language ${lang} is not valid.`);
          //TODO clear input
          return false;
        }
      
        return true;
      }
      function addInputs(form, except) {
        Object.entries({
          'Start language': startLang,
          'End language': endLang,
          'Middle languages': JSON.stringify(middleLangs),
          'Input text': inputText,
          'Output text': outputText
        }).filter(([name, _]) => except.every(e => name !== e))
          .forEach(([name, value]) => {
            addInput(form, name, value)
          });
      }
      
      function whenSetStartAndEnd() {
        const form2 = document.forms['StartAndEndLangs'];
        if (!validateLang(form2['Start language'].value, 'Start', true) || !validateLang(form2['End language'].value, 'End', false))
          return false;
        
        addInputs(document.getElementById('setStartAndEndForm'), ['Start language', 'End language']);
        return true;
      }
      function whenAddLanguage() {
        const form = document.getElementById('addLanguageForm');
        const added = document.forms['AddLang']['Added language'].value;

        if (!validateLang(added, 'Added', false))
          return false;
        
        middleLangs.push(added);
        addInputs(document.getElementById('addLanguageForm'), ['foo']);
        return true;
      }
      function beforeTranslate() {
        if ([startLang, endLang, document.forms["Input text to translate"]["Input text"].value].some(i => '' === i)) {
          alert('All fields not filled out.');
          return false;
        }

        const form = document.getElementById('Text input form');
        addInputs(form, ['Input text']);
        return true;
      }
    </script>
    
    <form action="" id="setStartAndEndForm" method="post" onsubmit="return whenSetStartAndEnd()" name="StartAndEndLangs">
      <label for="Start language input">Choose a start language:</label>
      <input list="All-languages" id="Start language input" value="<%=startLang%>" name="Start language"/>
      
      <label for="End language input">Choose an end language:</label>
      <input list="All-but-auto" id="End language input" value="<%=endLang%>" name="End language"/>

      <input type="hidden" name="Action kind" value="Start and end languages"/>
      <input type="submit" value="Ok">
    </form>

    <form action="" id="addLanguageForm" method="post" onsubmit="return whenAddLanguage()" name="AddLang">
      <label for="Add-language-input">Choose another language to add:</label>
      <input list="All-but-auto" id="Add-language-input" name="Added language"/>

      <input type="hidden" name="Action kind" value="Add language"/>
      <input type="submit" value="Add">
    </form>

    <form action="" id="Text input form" method="post" onsubmit="return beforeTranslate()" name="Input text to translate">
      <label for="Input text">Input text to translate here:</label>
      <input type="text" id="Input text" name="Input text" value="<%= inputText %>" maxlength="1000" size="50%">
      <input type="hidden" name="Action kind" value="Input text"/>
      <input type="submit" value="Translate">
    </form>

    <datalist id="All-but-auto">
      <% for (const lang of eval(allButAuto)) { %>
        <option value="<%-lang%>">
      <% } %>
    </datalist>

    <datalist id="All-languages">
      <option value="Automatic">
      <% for (const lang of eval(allButAuto)) {%>
        <option value="<%-lang%>">
      <% } %>
    </datalist>
    
    <h2>Here is your translated text:</h2>
    <p><%- outputText %></p>

    <p>Middle languages:</p>
    <ul>
      <% eval(middleLangs).forEach(lang => { %>
        <li><%- lang %></li>
      <% }); %>
    </ul>
  </body>
</html>